{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Password reset' %}
{% endblock %}

{% block content %}
  <section class="log-in-section section-b-space forgot-section">
    <div class="container-fluid-lg w-100">
      <div class="row">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
          <div class="d-flex align-items-center justify-content-center h-100">
            <div class="log-in-box">
              <div class="log-in-title">
                <h3>Welcome To Al Zahr</h3>
                <p>
                  {% blocktrans %}We have sent you an email with a link to reset your password. Please check your email and click the link to continue.{% endblocktrans %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{# This is used by django.contrib.auth #}
