{% load static %}
   <!-- Footer Section Start -->
   <footer class="">
    <div class="container-fluid-lg">
        <div class="main-footer section-b-space section-t-space">
            <div class="row g-md-4 g-3">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-logo">
                        <div class="theme-logo">
                            <a href="{% url "web:index" %}">
                                <img src="{% static 'web/assets/images/logo/logo-blue-png.png' %}" class="blur-up lazyload" alt="">
                            </a>
                        </div>

                        <div class="footer-logo-contain">
                            <p><BR>
                            </p>

                                <ul class="social-icon">
                                    <li class="light-bg">
                                        <a href="javascript:volid(0)" class="footer-link-color">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    
                                  
                                    <li class="light-bg">
                                        <a href="javascript:volid(0)" class="footer-link-color">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>

                                    <li class="light-bg">
                                        <a href="javascript:volid(0)" class="footer-link-color">
                                            <i class="fab fa-tiktok"></i>
                                        </a>
                                    </li>
                                   
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-title">
                        <h4>Categories</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            <li>
                                <a href="javascript:volid(0)" class="text-content">Home Fragrance</a>
                            </li>
                            <li>
                                <a href="javascript:volid(0)" class="text-content">Food Beverage</a>
                            </li>
                            <li>
                                <a href="javascript:volid(0)" class="text-content">Patio, Lawn & Garden</a>
                            </li>
                            <li>
                                <a href="javascript:volid(0)" class="text-content">Gardening care</a>
                            </li>
                            <li>
                                <a href="javascript:volid(0)" class="text-content">Noon Seller</a>
                            </li>
                            <li>
                                <a href="javascript:volid(0)" class="text-content">Amazan</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl col-lg-2 col-sm-3">
                    <div class="footer-title">
                        <h4>Useful Links</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            <li>
                                <a href="javascript:volid(0)" class="text-content">Home</a>
                            </li>
                            <li>
                                <a href="{% url "web:shop" %}" class="text-content">Shop</a>
                            </li>
                            
                            <li>
                                <a href="javascript:volid(0)" class="text-content">Blog</a>
                            </li>
                            <li>
                                <a href="javascript:volid(0)" class="text-content">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-2 col-sm-3">
                    <div class="footer-title">
                        <h4>Help Center</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            <li>
                                {% comment %} <a href="#" class="text-content">Team of Use</a> {% endcomment %}
                            </li>
                            <li>
                                <a href="#" class="text-content">Team of Sale</a>
                            </li>
                            <li>
                                <a href="#" class="text-content">Privacy Policy</a>
                            </li>
                            <li>
                                {% comment %} <a href="{% url "orders:wishlist" %}" class="text-content">Your Wishlist</a> {% endcomment %}
                            </li>
                            <li>
                                <a href="#" class="text-content">Search</a>
                            </li>
                            <li>
                                <a href="#" class="text-content">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-title">
                        <h4>Contact Us</h4>
                    </div>

                    <div class="footer-contact">
                        <ul>
                            <li>
                                <div class="footer-number">
                                    <i data-feather="map"></i>
                                    <div class="contact-number">
                                        <h6 class="text-content">Address</h6>
                                        <h5>Ajman - UAE</h5>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="footer-number">
                                    <i data-feather="phone"></i>
                                    <div class="contact-number">
                                        <h6 class="text-content">Hotline 24/7 :</h6>
                                        <h5>+971 58 333 0297</h5>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="footer-number">
                                    <i data-feather="mail"></i>
                                    <div class="contact-number">
                                        <h6 class="text-content">Email Address :</h6>
                                        <h5>alzahrspices@gmail.com</h5>
                                    </div>
                                </div>
                            </li>

                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="sub-footer section-small-space">
            <div class="reserve">
                 <p>&copy;<script>document.write(new Date().getFullYear());</script> - AL ZAHR All Right Reserved</p>
            </div>

            <div class="payment d-none">
                <img src="{% static 'web/assets/images/payment/1.png' %}/" class="blur-up lazyload" alt="alzahr">
            </div>

            <div class="social-link d-none">
                <h6 class="text-content">Stay connected :</h6>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/blue_tower_building_materials/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://in.pinterest.com/" target="_blank">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->


<div class="theme-option">
    <div class="back-to-top">
        <a id="back-to-top" href="#">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
</div>

