{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}

    <!-- Value Section Start -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="slider-4-blog arrow-slider ratio_65">
                        {% if decor_banner %}
                        {% for i in decor_banner %}
                        <div>
                            <div class="offer-banner hover-effect">
                                <img src="{{ i.image.url }}" class="img-test"
                                    alt="">
                                <div class="banner-detail d-none">
                                    <h5 class="theme-color">Buy more, Save more</h5>
                                    <h6>Air conditioner</h6>
                                </div>
                                <div class="offer-box d-none">
                                    <button onclick="location.href = 'javascript:volid(0)';"
                                        class="btn-category btn theme-bg-color text-white">View Offer</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Value Section End -->
    

    <!-- Category Section Start -->
    {% if deals or home_decor_Bestseller or home_decor_bulbs or home_decor_celling_light or home_decor_chandeliers or home_decor_desk or home_decor_floor_lamps or home_decor_led_strip_light or home_decor_pendants_light or home_decor_table_lamps or home_decor_wall_lighting or home_decor_CandlesHolders or home_decor_bathroom or home_decor_kitchen or is_bestseller or home_decor_arrives or home_decor_offer or home_decor_other %}
    <section class="category-section-2 my-4">
        <div class="container-fluid-lg">
            <div class="title">
                <h2>Shop By Categories</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="category-slider arrow-slider">
                        {% if deals %}
                        {% for i in deals %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.4s">
                                <a href="{% url "shop:deals" %}" class="circle-4">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if bestseller %}
                        {% for i in bestseller %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.4s">
                                <a href="{% url "shop:bestseller" %}" class="circle-4">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if bulbs %}
                        {% for i in bulbs %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn">
                                <a href="{% url "shop:bulbs" %}" class="circle-1">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div> 

                        {% endfor %}
                        {% endif %}
                        {% if celling_light %}
                        {% for i in celling_light %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.05s">
                                <a href="{% url "shop:celling_light" %}" class="circle-2">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% if chandeliers %}
                        {% for i in chandeliers %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.1s">
                                <a href="{% url "shop:chandeliers" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if desk %}
                        {% for i in desk %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.15s">
                                <a href="{% url "shop:desk" %}" class="circle-4">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if floor_lamps %}
                        {% for i in floor_lamps %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.2s">
                                <a href="{% url "shop:floor_lamps" %}" class="circle-4">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if led_strip_light %}
                        {% for i in led_strip_light %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.25s">
                                <a href="{% url "shop:led_strip_light" %}" class="circle-1">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if pendants_light %}
                        {% for i in pendants_light %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.3s">
                                <a href="{% url "shop:pendants_light" %}" class="circle-2">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if table_lamps %}
                        {% for i in table_lamps %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "shop:table_lamps" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if wall_lighting %}
                        {% for i in wall_lighting %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "shop:wall_lighting" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if livingroom %}
                        {% for i in livingroom %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "shop:livingroom" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if kitchen %}
                        {% for i in kitchen %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "shop:kitchen" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if bathroom %}
                        {% for i in bathroom %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "shop:bathroom" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if candlesHolders %}
                        {% for i in candlesHolders %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "shop:candlesHolders" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if light %}
                        {% for i in light %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "shop:light" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if other %}
                        {% for i in other %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "shop:other" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if bestseller %}
                        {% for i in bestseller %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "shop:bestseller" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if home_decor_offer %}
                        {% for i in home_decor_offer %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "web:coming_soon" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if home_decor_other %}
                        {% for i in home_decor_other %}
                        <div>
                            <div class="shop-category-box border-0 wow fadeIn" data-wow-delay="0.35s">
                                <a href="{% url "web:coming_soon" %}" class="circle-3">
                                    <img src="{{ i.icon_image.url }}" class="img-fluid blur-up lazyload"
                                        alt="">
                                </a>
                                <div class="category-name">
                                    <h6>{{ i.title }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Category Section End -->

    <section class="product-section-3 bg-arrived">
        <div class="container-fluid-lg">
          <div class="row">
            <div class="col-12">
              <div class="title-head-soon">
                <div class="titletitle-content text-center">
                  <h2 class="text-center">COMING <span > SOON </span></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  <!-- Product New-Arrived Start -->
  {% if home_decor_arrives %}
    <section class="product-section-3 bg-arrived">
      <div class="container-fluid-lg">
        <div class="row">
          <div class="col-12">
            <div class="title-head">
              <div class="titletitle-content text-center">
                <h2 class="text-center">New <span class="title-red"> Arrived </span></h2>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="slider-7_1 arrow-slider img-slider">
              {% for i in home_decor_arrives %}
                <div>
                  <div class="product-box-4 wow fadeInUp">
                    <div class="product-image product-image-2">
                      <a href="{{ i.get_absolute_url }}"><img src="{{ i.image.url }}" class="img-fluid blur-up lazyload" alt="Arrived" /></a>

                      <ul class="option">
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View">
                          <a href="{{ i.get_absolute_url }}"><i class="iconly-Show icli"></i></a>
                        </li>
                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                          <a href="javascript:void(0)" class="notifi-wishlist btn-action-wishlist" data-product_id="{{ i.id }}"><i class="iconly-Heart icli"></i></a>
                        </li>
                      </ul>
                    </div>

                    <div class="product-detail">
                      <ul class="rating d-none">
                        <li>
                          <i data-feather="star" class="fill"></i>
                        </li>
                        <li>
                          <i data-feather="star" class="fill"></i>
                        </li>
                        <li>
                          <i data-feather="star" class="fill"></i>
                        </li>
                        <li>
                          <i data-feather="star" class="fill"></i>
                        </li>
                        <li>
                          <i data-feather="star"></i>
                        </li>
                      </ul>
                      <a href="{{ i.get_absolute_url }}"><h5 class="name text-title">{{ i.title }}</h5></a>
                      <h5 class="price theme-color">AED {{ i.get_sale_price_t|floatformat:0 }}
                        <del>AED {{ i.get_regular_price_t|floatformat:0 }}</del></h5>

                      <div class="addtocart_btn d-none"></div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  <!-- Product New-Arrived End -->


  <!-- Product Section Start -->
  {% if home_decor_Bestseller %}
    <section class="product-section bg-arrived pt-4 mt-5">
      <div class="container-fluid-lg">
        <div class="title">
          <h2><span class="title-red">Top Bestsellers</span> Products</h2>
        </div>

        <div class="slider-6 img-slider slick-slider-1 arrow-slider">
          {% for i in home_decor_Bestseller %}
            <div>
              <div class="product-box-4 wow fadeInUp">
                <div class="product-image">
                  <div class="label-flex">
                    <button class="btn p-0 wishlist btn-action-wishlist d-none" data-product_id="{{ i.id }}" data-bs-placement="top" data-bs-html="true"><i class="iconly-Heart icli"></i></button>
                  </div>

                  <a href="{{ i.get_absolute_url }}"><img src="{{ i.image.url }}" class="img-fluid" alt="" /></a>

                  <ul class="option">
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View">
                      <a href="{{ i.get_absolute_url }}" data-bs-toggle="modal" data-bs-target="#view"><i class="iconly-Show icli"></i></a>
                    </li>
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                      <a href="javascript:void(0)" class="notifi-wishlist btn-action-wishlist" data-product_id="{{ i.id }}"><i class="iconly-Heart icli"></i></a>
                    </li>
                  </ul>
                </div>

                <div class="product-detail">
                  <a href="{{ i.get_absolute_url }}"><h5 class="name">{{ i.title }}</h5></a>
                  <h5 class="price theme-color">AED {{ i.get_sale_price_t|floatformat:0 }}
                    <del>AED {{ i.get_regular_price_t|floatformat:0 }}</del></h5>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
  <!-- Product Section End -->

    <!-- Product Section Start -->
    {% if home_decor_offer %}
    <section class="product-section bg-arrived pt-4 mt-5">
      <div class="container-fluid-lg">
        <div class="title">
          <h2><span class="title-red">Offer</span> Products</h2>
        </div>

        <div class="slider-6 img-slider slick-slider-1 arrow-slider">
          {% for i in home_decor_offer %}
            <div>
              <div class="product-box-4 wow fadeInUp">
                <div class="product-image">
                  <div class="label-flex">
                    <button class="btn p-0 wishlist btn-action-wishlist d-none" data-product_id="{{ i.id }}" data-bs-placement="top" data-bs-html="true"><i class="iconly-Heart icli"></i></button>
                  </div>

                  <a href="{{ i.get_absolute_url }}"><img src="{{ i.image.url }}" class="img-fluid" alt="" /></a>

                  <ul class="option">
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Quick View">
                      <a href="{{ i.get_absolute_url }}" data-bs-toggle="modal" data-bs-target="#view"><i class="iconly-Show icli"></i></a>
                    </li>
                    <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                      <a href="javascript:void(0)" class="notifi-wishlist btn-action-wishlist" data-product_id="{{ i.id }}"><i class="iconly-Heart icli"></i></a>
                    </li>
                  </ul>
                </div>

                <div class="product-detail">
                  <a href="{{ i.get_absolute_url }}"><h5 class="name">{{ i.title }}</h5></a>
                  <h5 class="price theme-color">AED {{ i.get_sale_price_t|floatformat:0 }}
                    <del>AED {{ i.get_regular_price_t|floatformat:0 }}</del></h5>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
  <!-- Product Section End -->

  
  <!-- brand Section Start -->
  {% if brands_active %}
  <section class="mt-5 mb-3">
    <div class="container-fluid-lg">
      <div class="row">
        <div class="col-12">
          <div class="title">
            <h2>Our <span class="title-red"> Brand</span></h2>
            <span class="title-leaf"></span>
          </div>

          <div class="category-slider-2 product-wrapper no-arrow">
            
            {% for b in brands_active %}
              <div>
                <a href="{% url "web:coming_soon" %}" class="category-dark">
                  <div>
                    {% if b.image %}
                    <img src="{{ b.image.url }}" class="blur-up lazyload brand-img" alt="brand Image" />
                    {% endif %}
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- brand Section End -->

  <!-- online_seller start -->
  {% if online_seller %}
    <section class="product-section-3 bg-yellow mt-5">
      <div class="container-fluid-lg">
        <div class="row">
          <div class="col-12">
            <div class="title-head">
              <div class="titletitle-content text-center">
                <h2 class="text-center">Noon Categories</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="slider-7_1 arrow-slider img-slider">
              {% for o in online_seller %}
                <div>
                  <div class="product-box-4 wow fadeInUp" data-wow-delay="0.05s">
                    <div class="product-image product-image-2">
                      <a href="{{ o.link }}"><img src="{{ o.image.url }}" class="img-fluid blur-up lazyload" alt="" /></a>
                    </div>

                    <div class="product-detail">
                      <a href="{{ o.link }}"><h5 class="name text-title">{{ o.title|truncatechars:30 }}</h5></a>
                      {% comment %} <h5 class="price theme-color">AED {{ o.price }}<del>AED {{ o.cost }}</del></h5> {% endcomment %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  <!-- online_seller End -->

    <!-- Newsletter Section Start -->
    <section class="newsletter-section-2 section-b-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="newsletter-box hover-effect">
                        <img src="{% static 'web/assets/images/veg-3/shape/background.jpg' %}" class="img-fluid bg-img" alt="">

                        <div class="row">
                            <div class="col-xxl-8 col-xl-7">
                                <div class="newsletter-detail p-center-left text-white">
                                    <div>
                                        <h2>Subscribe to the newsletter</h2>
                                        <h4>Join our subscribers list to get the latest news, updates and special offers
                                            delivered directly in your inbox.</h4>
                                        <form class="row g-2">
                                            <div class="col-sm-10 col-12">
                                                <div class="newsletter-form">
                                                    <input type="email" class="form-control" id="email"
                                                        placeholder="Enter your email">
                                                    <button type="submit" class="btn bg-white theme-color btn-md fw-500
                                                        submit-button">Subscribe</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xxl-4 col-xl-5 d-xl-block d-none">
                                <div class="shape-box">
                                    <img src="{% static 'web/assets/images/veg-3/shape/basket.png' %}" alt="" class="img-fluid image-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter Section End -->


    {% block js %}
    <script src="{% static 'web/assets/js/index.js' %}"></script>

    <script>
      document.querySelector('.qty-right-plus').addEventListener('click', function () {
        let quantityInput = document.querySelector('.qty-input')
        quantityInput.value = parseInt(quantityInput.value) + 1
        document.querySelector('#hidden_quantity').value = quantityInput.value
      })
      
      document.querySelector('.qty-left-minus').addEventListener('click', function () {
        let quantityInput = document.querySelector('.qty-input')
        if (parseInt(quantityInput.value) > 1) {
          quantityInput.value = parseInt(quantityInput.value) - 1
          document.querySelector('#hidden_quantity').value = quantityInput.value
        }
      })
    </script>

    <script>
      function redirectToLink() {
        // Get the URL from the button's href attribute
        var url = document.querySelector('.rediredt-url-btn').getAttribute('href')
      
        // Redirect to the specified URL
        window.location.href = url
      }
    </script>
  {% endblock %}
{% endblock %}

    <!-- Quick View Modal Box Start -->
    <div class="modal fade theme-modal view-modal" id="view" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-sm-4 g-2">
                        <div class="col-lg-6">
                            <div class="slider-image">
                                <img src="{% static 'web/assets/images/product/category/1.jpg" class="img-fluid blur-up lazyload"
                                    alt="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="right-sidebar-modal">
                                <h4 class="title-name">Peanut Butter Bite Premium Butter Cookies 600 g</h4>
                                <h4 class="price">$36.99</h4>
                                <div class="product-rating">
                                    <ul class="rating">
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star"></i>
                                        </li>
                                    </ul>
                                    <span class="ms-2">8 Reviews</span>
                                    <span class="ms-2 text-danger">6 sold in last 16 hours</span>
                                </div>

                                <div class="product-detail">
                                    <h4>Product Details :</h4>
                                    <p>Candy canes sugar plum tart cotton candy chupa chups sugar plum chocolate I love.
                                        Caramels marshmallow icing dessert candy canes I love soufflé I love toffee.
                                        Marshmallow pie sweet sweet roll sesame snaps tiramisu jelly bear claw. Bonbon
                                        muffin I love carrot cake sugar plum dessert bonbon.</p>
                                </div>

                                <ul class="brand-list">
                                    <li>
                                        <div class="brand-box">
                                            <h5>Brand Name:</h5>
                                            <h6>Black Forest</h6>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Product Code:</h5>
                                            <h6>W0690034</h6>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Product Type:</h5>
                                            <h6>White Cream Cake</h6>
                                        </div>
                                    </li>
                                </ul>

                                <div class="select-size">
                                    <h4>Cake Size :</h4>
                                    <select class="form-select select-form-size">
                                        <option selected>Select Size</option>
                                        <option value="1.2">1/2 KG</option>
                                        <option value="0">1 KG</option>
                                        <option value="1.5">1/5 KG</option>
                                        <option value="red">Red Roses</option>
                                        <option value="pink">With Pink Roses</option>
                                    </select>
                                </div>

                                <div class="modal-button">
                                    <button onclick="location.href = 'cart.html';"
                                        class="btn btn-md add-cart-button icon">Add
                                        To Cart</button>
                                    <button onclick="location.href = 'product-left.html';"
                                        class="btn theme-bg-color view-button icon text-white fw-bold btn-md">
                                        View More Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick View Modal Box End -->

    <!-- Location Modal Start -->
    <div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
                    <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="location-list">
                        <div class="search-input">
                            <input type="search" class="form-control" placeholder="Search Your Area">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        <div class="disabled-box">
                            <h6>Select a Location</h6>
                        </div>

                        <ul class="location-select custom-height">
                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Alabama</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Arizona</h6>
                                    <span>Min: $150</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>California</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Colorado</h6>
                                    <span>Min: $140</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Florida</h6>
                                    <span>Min: $160</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Georgia</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Kansas</h6>
                                    <span>Min: $170</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Minnesota</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>New York</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Washington</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location Modal End -->

    <!-- Deal Box Modal Start -->
    <div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                        <p class="mt-1 text-content">Recommended deals for you.</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="deal-offer-box">
                        <ul class="deal-offer-list">
                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="{% url "web:coming_soon" %}" class="deal-image">
                                        <img src="{% static 'web/assets/images/vegetable/product/10.png' %}" class="blur-up lazyload"
                                            alt="">
                                    </a>

                                    <a href="{% url "web:coming_soon" %}" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-2">
                                <div class="deal-offer-contain">
                                    <a href="{% url "web:coming_soon" %}" class="deal-image">
                                        <img src="{% static 'web/assets/images/vegetable/product/11.png' %}" class="blur-up lazyload"
                                            alt="">
                                    </a>

                                    <a href="{% url "web:coming_soon" %}" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-3">
                                <div class="deal-offer-contain">
                                    <a href="{% url "web:coming_soon" %}" class="deal-image">
                                        <img src="{% static 'web/assets/images/vegetable/product/12.png' %}" class="blur-up lazyload"
                                            alt="">
                                    </a>

                                    <a href="{% url "web:coming_soon" %}" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="{% url "web:coming_soon" %}" class="deal-image">
                                        <img src="{% static 'web/assets/images/vegetable/product/13.png' %}" class="blur-up lazyload"
                                            alt="">
                                    </a>

                                    <a href="{% url "web:coming_soon" %}" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Deal Box Modal End -->

    <!-- Cookie Bar Box Start -->
    <div class="cookie-bar-box">
        <div class="cookie-box">
            <div class="cookie-image">
                <img src="{% static 'web/assets/images/cookie-bar.png' %}" class="blur-up lazyload" alt="">
                <h2>Cookies!</h2>
            </div>

            <div class="cookie-contain">
                <h5 class="text-content">We use cookies to make your experience better</h5>
            </div>
        </div>

        <div class="button-group">
            <button class="btn privacy-button">Privacy Policy</button>
            <button class="btn ok-button">OK</button>
        </div>
    </div>
    <!-- Cookie Bar Box End -->

    <!-- Items section Start -->
    <div class="button-item">
        <button class="item-btn btn text-white">
            <i class="iconly-Bag-2 icli"></i>
        </button>
    </div>
    <div class="item-section">
        <button class="close-button">
            <i class="fas fa-times"></i>
        </button>
        <h6>
            <i class="iconly-Bag-2 icli"></i>
            <span>5 Items</span>
        </h6>
        <ul class="items-image">
            <li>
                <img src="{% static 'web/assets/images/veg-3/cate1/1.png' %}" alt="">
            </li>
            <li>
                <img src="{% static 'web/assets/images/veg-3/cate1/2.png' %}" alt="">
            </li>
            <li>+3</li>
        </ul>
        <button onclick="location.href = 'cart.html';" class="btn item-button btn-sm fw-bold">$ 20.70</button>
    </div>
    <!-- Items section End -->

    <!-- Tap to top and theme setting button start -->
    <div class="theme-option">
        <div class="setting-box">
            <button class="btn setting-button">
                <i class="fa-solid fa-gear"></i>
            </button>

            <div class="theme-setting-2">
                <div class="theme-box">
                    <ul>
                        <li>
                            <div class="setting-name">
                                <h4>Color</h4>
                            </div>
                            <div class="theme-setting-button color-picker">
                                <form class="form-control">
                                    <label for="colorPick" class="form-label mb-0">Theme Color</label>
                                    <input type="color" class="form-control form-control-color" id="colorPick"
                                        value="#0da487" title="Choose your color">
                                </form>
                            </div>
                        </li>

                        <li>
                            <div class="setting-name">
                                <h4>Dark</h4>
                            </div>
                            <div class="theme-setting-button">
                                <button class="btn btn-2 outline" id="darkButton">Dark</button>
                                <button class="btn btn-2 unline" id="lightButton">Light</button>
                            </div>
                        </li>

                        <li>
                            <div class="setting-name">
                                <h4>RTL</h4>
                            </div>
                            <div class="theme-setting-button rtl">
                                <button class="btn btn-2 rtl-unline">LTR</button>
                                <button class="btn btn-2 rtl-outline">RTL</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top and theme setting button end -->

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="{% static 'web/assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="{% static 'web/assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'web/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="{% static 'web/assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="{% static 'web/assets/js/feather/feather.min.js"></script>
    <script src="{% static 'web/assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="{% static 'web/assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="{% static 'web/assets/js/slick/slick.js"></script>
    <script src="{% static 'web/assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="{% static 'web/assets/js/slick/custom_slick.js"></script>

    <!-- Auto Height Js -->
    <script src="{% static 'web/assets/js/auto-height.js"></script>

    <!-- Quantity Js -->
    <script src="{% static 'web/assets/js/quantity.js"></script>

    <!-- Timer Js -->
    <script src="{% static 'web/assets/js/timer1.js"></script>
    <script src="{% static 'web/assets/js/timer2.js"></script>
    <script src="{% static 'web/assets/js/timer3.js"></script>
    <script src="{% static 'web/assets/js/timer4.js"></script>

    <!-- Fly Cart Js -->
    <script src="{% static 'web/assets/js/fly-cart.js"></script>

    <!-- WOW js -->
    <script src="{% static 'web/assets/js/wow.min.js"></script>
    <script src="{% static 'web/assets/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="{% static 'web/assets/js/script.js"></script>

    <!-- theme setting js -->
    <script src="{% static 'web/assets/js/theme-setting.js"></script>
</body>

</html>